<h1>Create New Order</h1>


<%= form_for @order do |t| %>
  <%= t.label :name %>
  <%= t.collection_select(:user_id, User.all, :id, :name, prompt: true) %>

  <%= t.label :Item %>
  <%= t.collection_select(:item_id, Item.all, :id, :name, prompt: true) %>

  <%= t.submit %>
<% end %>
